.drawing-canvas__cell {
  display: inline-block;
  border: 1px solid black;
  margin-left: -1px;
  margin-bottom: -5px;
  cursor: pointer;
}

.drawing-canvas__cell:hover {
  background-color: yellow;
}
